mixin nameNmber (type, label, price)
	li
		h5: strong Personalizzazione applicata:
		p= type
			span.label.label-default= label
		p.price
			strong: em € #{price}
mixin patch (patch, price)
	.pers
		p= patch
		p.price
			strong: em € #{price}
// col 01
mixin productImage(title, link, image, nrProd)
	.col-xs-12.col-sm-6.col-md-3.product
		p.titleHead: strong
			| product #{nrProd}
		p.text-center= title
		img.img-responsive(src="#{imagePath}#{image}")



- lang 						= "en"
- imagePath 				= "assets/images/"
- titlePage 				= "Cart AC MILAN"
- googleFonts01				= ""
- namepage					= "cart" // page name fro body class
- namepage					= "cart-checkout" // page name fro body class

if lang == "en"
	- checkOutBtnCopy 		= "CHECK OUT"

doctype html
html(lang='en')
	head
		//- title
		block titlePage
				title #{titlePage}
		title DevTips Starter Kit
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//link(rel="shortcut icon" href="assets/img/favicons/favicon.ico")
		link(rel="stylesheet" href="assets/css/main.css")

		//- fontgoogle
		link(href="#{googleFonts01}" rel="stylesheet" type="text/css")
	body(class="#{namepage}")
		// content here
		.container-fluid.no-gutter
			.container.no-gutter
				//- header
					p.text-center sample header

				section.contentLineUp
					block topBlock
						if namepage == "cart"
							.col-xs-12
								h1 SHOPPING CART
						if namepage == "cart-checkout"
							.col-xs-12.col-sm-3
								h4 SHOPPING CART
							.col-xs-12.col-sm-9
								block checkoutAction
									ul.list-inline.text-right
										li
											a(href="#paypall")
												img(src="#{imagePath}payPall.png")
										li
											a.btn.btn-sm.btn-primary(href="#paypall")= checkOutBtnCopy
		
		.container.containerTableProd.no-gutter

			//- product 01
			.ProdTable.row


				+productImage("Ac Milan Home Authentic Jersey 2015/16", "", "thumb01.jpg", "01")

				.col-xs-12.col-sm-6.col-md-3.custom
					p.titleHead: strong
						| custom
					p.size
						| Taglia: 
						strong XXL
					ul.customisation

						+nameNmber ("Giocatore: ", "BONAVENTURA / 28", "15,00")
						li
							h5: strong Patch applicate:
							+patch("Lega Calcio Patch", "5,00")
							+patch("Ucl Badge Of Honour 7 2013/15", "5,00")
				hr.col-xs-12.visible-xs-block.visible-sm-block
				.col-xs-12.col-sm-12.col-md-6.priceOption
					.row

						.col-xs-12.col-sm-12.col-md-4.priceUnit
							p.titleHead: strong
								| prezzo unitario
							h4.price
								strong € 105,00

						.col-xs-6.col-sm-6.col-md-4.quantity
							p.titleHead: strong
								| quantita
							.input-group.number-spinner
								span.input-group-btn.left
									button.btn.btn-default(data-dir="dwn")
										span.glyphicon.glyphicon-minus

								input.form-control.text-center.qty(type="text" value="1")
								span.input-group-btn.right
									button.btn.btn-default(data-dir="up")
										span.glyphicon.glyphicon-plus

							block modifyAction
								.modifyAction
									a.update(href="#")
										strong Update
									a.delete(href="#")
										strong Cancella il prodotto

						.col-xs-6.col-sm-6.col-md-4.partialPrice
							p.titleHead: strong
								| totale parziale
							h4.unitPrice
								strong.price € 215,00
				.clearfix


			//- product 02
			.ProdTable.row

				+productImage("Milan Home Jersey 2015/16 Iphone 6", "", "thumb02.jpg", "02")

				.col-xs-12.col-sm-6.col-md-3.custom
					p.titleHead: strong
						| custom
					//p.size Taglia XXL
					ul.customisation

						+nameNmber ("Name Number: ", "123456789012345 / 10", "15,00")
						//li
							h5: strong Patch applicate:
							+patch("Lega Calcio Patch", "5,00")
							+patch("Ucl Badge Of Honour 7 2013/15", "5,00")
				hr.col-xs-12.visible-xs-block.visible-sm-block
				.col-xs-12.col-sm-12.col-md-6.priceOption
					.row

						.col-xs-12.col-sm-12.col-md-4.priceUnit
							p.titleHead: strong
								| prezzo unitario
							h4.price
								strong € 20,00

						.col-xs-6.col-sm-6.col-md-4.quantity
							p.titleHead: strong
								| quantita
							.input-group.number-spinner
								span.input-group-btn.left
									button.btn.btn-default(data-dir="dwn")
										span.glyphicon.glyphicon-minus

								input.form-control.text-center.qty(type="text" value="1")
								span.input-group-btn.right
									button.btn.btn-default(data-dir="up")
										span.glyphicon.glyphicon-plus

							block modifyAction

						.col-xs-6.col-sm-6.col-md-4.partialPrice
							p.titleHead: strong
								| totale parziale
							h4.unitPrice
								strong.price € 40,00
				.clearfix

			//- product 03
			.ProdTable.row

				+productImage("Milan Home Sciarpa", "", "thumb03.jpg", "03")

				.col-xs-12.col-sm-6.col-md-3.custom
					p.titleHead: strong
						| custom
					p.size
						| Taglia: 
						strong Unica

				hr.col-xs-12.visible-xs-block.visible-sm-block
				.col-xs-12.col-sm-12.col-md-6.priceOption
					.row

						.col-xs-12.col-sm-112.col-md-4.priceUnit
							p.titleHead: strong
								| prezzo unitario
							h4.price
								strong € 20,00

						.col-xs-6.col-sm-6.col-md-4.quantity
							p.titleHead: strong
								| quantita
							.input-group.number-spinner
								span.input-group-btn.left
									button.btn.btn-default(data-dir="dwn")
										span.glyphicon.glyphicon-minus

								input.form-control.text-center.qty(type="text" value="1")
								span.input-group-btn.right
									button.btn.btn-default(data-dir="up")
										span.glyphicon.glyphicon-plus
							block modifyAction

						.col-xs-6.col-sm-6.col-md-4.partialPrice
							p.titleHead: strong
								| totale parziale
							h4.unitPrice
								strong.price € 40,00
			.clearfix
		//.container-fluid
		.container
			.row

				.col-xs-12.col-sm-6
				// shipping - coupon & gift
				.col-xs-12.col-sm-6.shippingCouponGift
					form.form-horizontal
						block shipping
							.form-group.row.shipping
								label.col-xs-12.col-sm-6.col-md-5.control-label(for="Shipping")
									span.text-left.pull-left Spese di spedizione
								//input.form-control( type="text" class="" id="Shipping" placeholder="Italy")
								.col-xs-12.col-sm-6.col-md-7
									select.form-control
										option Italy
										option Romania
										option CCCP
										option USA
										option UK
								//button.btn.btn-default(type="submit")
								.col-xs-12
									p Spedizzione - Coriere expresso: 
										strong.price € 44,00
						block coupon
							.form-group.row.coupon
								label.col-xs-12.col-sm-3.col-md-5.control-label(for="coupon")
									span.text-left.pull-left Codice sconto
								.col-xs-7.col-sm-5.col-md-4
									input.form-control( type="text" id="coupon" placeholder="insert coupon")
								.col-xs-5.col-sm-4.col-md-3
									button.btn.btn-info.pull-right(type="submit") + Coupon
								// .col-xs-12
									p Coupon: 
										strong FREE SHIPPING

						block giftCard
							.form-group.row.giftCard
								label.col-xs-12.col-sm-3.col-md-5.control-label(for="giftCard")
									span.text-left.pull-left GIFT card
								.col-xs-7.col-sm-5.col-md-4
									input.form-control( type="text" id="giftCard" placeholder="insert giftCard")
								.col-xs-5.col-sm-4.col-md-3
									button.btn.btn-info.pull-right(type="submit") + Gift card
								.col-xs-12
									a.bg-link(href="#")
										strong Verify your gift card

		.container-fluid.no-gutter
			.container.no-gutter
				section.contentLineDown
					.row
						.col-xs-12.col-sm-12
							ul.list-inline.text-right
								li
									a(href="#paypall")
										img(src="#{imagePath}payPall.png")
								li
									a.btn.btn-lg.btn-primary(href="#paypall")= checkOutBtnCopy

		//script(src="assets/js/jquery-2.1.4.min.js")
		//script(src="assets/js/functions.js" type="text/javascript")